<div class="row">
  <div class="col-lg-11">
 <!--    <form class="form-horizontal"> -->
    <%= form_for(@wiky, html: {class: "form-horizontal"}) do |f| %>
      <fieldset>
        <legend>Edit</legend>
        <div class="form-group">
          <!-- <label for="inputPassword" class="col-lg-2 control-label">Password</label> -->
              <%= f.label :title, class: "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <!-- <input type="password" class="form-control" id="inputPassword" placeholder="Password"> -->
              <%= f.text_field :title, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <!-- <label for="textArea" class="col-lg-2 control-label">Body</label> -->
          <%= f.label :body, class: "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <!-- <textarea class="form-control" rows="10" id="textArea"></textarea> -->
            <%= f.text_area :body, class: "form-control", rows: "10" %>
            <span class="help-block">
              Thank you for contributing to this project
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Radios</label>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="true" checked="true">
                  public
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="false">
                private
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <!-- <button type="reset" class="btn btn-default">Cancel</button> -->
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            <%= link_to "cancel", "/wikies/#{@wiky.id}", class: "btn btn-default" %>
            <%= f.submit class: "btn btn-primary" %>
          </div>
        </div>
      </fieldset>
      <% end %>
  </div>
</div>










