<h1>Shopping cart</h1>
<table>
<% @cart.line_items.each do |item| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <%= image_tag(item.product.image_url, class: 'list_image') %>
    </td>
    <td><%= item.quantity %>&times;</td>
    <td class="list_description">
      <dl>
        <dt><%= item.product.title %></dt>
        <dd><%= truncate(strip_tags(item.product.description), length: 80) %></dd>
      </dl>
    </td>

    <td class='item_price'><%= number_to_currency(item.total_price) %></td>
    <% end %>
    <tr class ="total_line">
      <td colspan = "3"></td>
      <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
    <tr>
  </tr>

</table>
<br />
<%= button_to 'Empty cart', @cart, method: :delete, class: "btn btn-danger",
    data: { confirm: 'Are you sure?' } %>



