<div class="row">
  <div class="col-lg-11">
    <% if current_user.admin? || (current_user.premium? && @wiky.user_id == current_user.id) %>
    <%= form_for [@wiky, @wiky.collaborations.build ] do |f| %>
      <fieldset>
        <legend></legend>
        <div class="form-group">
          <%= label_tag :email, "Collaborator Email", class: "col-lg-2 control-label" %>
          <div class="col-lg-10">
              <%=  email_field_tag :email, "", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= link_to "cancel", "/wikies/#{@wiky.id}", class: "btn btn-default" %>
            <%= f.submit "Add Collaborator", class: "btn btn-primary" %>
          </div>
        </div>
      </fieldset>
        <strong>Delete Collaborators</strong><br>
        <table class= "table table-striped">
          <% @collaborations.reload.each do |collaboration| %>
            <tr>
              <td><%= collaboration.user.email %></td> 
              <td><%= link_to('Remove Collaborator', wiky_collaboration_path(@wiky, collaboration), 
              :method => 'delete', controller: :collaborations)  %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
      <% end %> 
  </div>
</div>

